<div class="container">
    <app-navigation></app-navigation>
    <div class="content">
        <div class="card" style="width: 100%">
            <h1 style="font-weight: bold; text-align: center; margin-top: 30px;">Inventory</h1>
            <div class="card-header">
                
                <select class="form-select" [(ngModel)]="selectedProductName" (change)="fetchData()">
                    <option value="">Select Product</option>
                    <option *ngFor="let product of products" [value]="product.productname">{{ product.productname }}</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- Dropdown for Sales Area -->
                
                <button class="new-customer-btn btn btn-success" (click)="openCreateModal()">+&nbsp;&nbsp;Product</button>
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Product Name</th>
                            <th>price</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products$">
                            <td>{{ product.productname }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                            <td style="width: 30%">
                                <a (click)="editSalesRep(product.id)"><mat-icon [ngStyle]="{'font-size': iconSize}">edit</mat-icon></a> |
                                <a (click)="onDeleteClick(product.id)"><mat-icon [ngStyle]="{'font-size': iconSize}">delete</mat-icon></a>
                                <!-- <a><mat-icon>visibility</mat-icon></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

