<form>
    <h1>Add new sales rep</h1>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" id="name" name="name" [(ngModel)]="user.name">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" name="email" [(ngModel)]="user.email">
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <input matInput type="tel" id="pnumber" name="pnumber" [(ngModel)]="user.pnumber">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password" [(ngModel)]="user.password">
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Add Customers</mat-label>
          <input matInput type="text" id="addCustomers" name="addCustomers" [(ngModel)]="user.addCustomers">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
          <mat-label>Sales Area</mat-label>
          <input matInput type="text" id="salesArea" name="salesArea" [(ngModel)]="user.salesArea">
        </mat-form-field>
      </div>
    </div>
  
    <div class="button-container">
      <button mat-button color="primary" type="button" (click)="save()">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
  