<form [formGroup]="customerForm" (ngSubmit)="save()">
    <h1>Add New Customer </h1>

    <div class="form-row">
        <div class="form-column">
            <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <input matInput formControlName="cuname" id="cuname" name="cuname">
            </mat-form-field>
        </div>

        <div class="form-column">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" id="email" name="email">
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <mat-form-field>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="cnumber" id="cnumber" name="cnumber">
            </mat-form-field>
        </div>

        <div class="form-column">
            <mat-form-field>
              <mat-label>Sales Area</mat-label>
              <mat-select formControlName="city" (selectionChange)="onSalesAreaChange($event.value)">
                <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>

    <div class="form-row">
        <div class="form-column">
            <mat-form-field>
                <mat-label>Shop Name</mat-label>
                <input matInput formControlName="shopName" id="shopName" name="shopName">
            </mat-form-field>
        </div>

        <div class="form-column">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" id="address" name="address">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-column">

            <mat-form-field>
                <mat-label>Sales Person</mat-label>
                <mat-select formControlName="salesname" id="salesname" name="salesname">
                  <mat-option *ngFor="let person of salesPersons" [value]="person.id">
                    {{person.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

        </div>
    </div>
    <div class="button-container">
        <button mat-button color="primary" type="submit">Save</button>
        <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>


</form>