<form [formGroup]="paymentForm" (ngSubmit)="save()">
    <h1>Edit Payment</h1>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Order ID</mat-label>
          <input matInput formControlName="orderId" type="text" [value]="paymentData.orderId" [readonly]="true">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" [value]="paymentData.Order?.price" [readonly]="true">
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" type="number" [value]="paymentData.quantity" [readonly]="true">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" [value]="paymentData.status">
              <mat-option value="Not Completed">Not Completed</mat-option>
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Completed">Completed</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="paymentMethod"  [value]="paymentData.paymentType">
            <mat-option value="None">None</mat-option>
            <mat-option value="Check">Check</mat-option>
            <mat-option value="Money Order">Money Order</mat-option>
            <mat-option value="Cash">Cash</mat-option>
            <mat-option value="Bank Transfer">Bank Transfer</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-column">
        <mat-form-field>
          <mat-label>Note</mat-label>
          <input matInput formControlName="note" type="text">
        </mat-form-field>
      </div>
    </div>
  
    <div class="button-container">
      <button mat-button color="primary" type="submit">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
  