<form [formGroup]="userForm" (ngSubmit)="save()">
    <h1>Add New System User </h1>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" id="name" name="name">
        </mat-form-field>
      </div>
  
      <div class="form-column">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" id="email" name="email">
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput formControlName="username" id="username" name="username">
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field>
            <mat-label>User Type</mat-label>
            <mat-select formControlName="usertype" id="usertype" name="usertype">
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="salesRep">Sales Rep</mat-option>
              <mat-option value="accountAdmin">Account Admin</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-column">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" id="password" name="password">
        </mat-form-field>
        <!-- <mat-error *ngIf="userForm.controls['cpassword'].hasError('mismatch')">Passwords do not match</mat-error> -->
      </div>
      <div class="form-column">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="cpassword" id="cpassword" name="cpassword">
          <mat-error *ngIf="userForm.controls['cpassword'].hasError('mismatch')">Passwords do not match</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="button-container">
      <button mat-button color="primary" type="submit">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
  