<div class="container">
    <app-navigation></app-navigation>
    <div class="content">
        <div class="card" style="width: 100%">
            <h1 style="font-weight: bold; text-align: center; margin-top: 30px;">Sales Reps</h1>
            <div class="card-header">
                
                <select class="form-select" [(ngModel)]="selectedUserName" (change)="fetchData()">
                    <option value="">Select User Name</option>
                    <option *ngFor="let sale of sales" [value]="sale.salesName">{{ sale.salesName }}</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- Dropdown for Sales Area -->
                <select class="form-select" [(ngModel)]="selectedSalesArea" (change)="fetchData()">
                    <option value="">Select Sales Area</option>
                    <option *ngFor="let sale of sales" [value]="sale.salesArea">{{ sale.salesArea }}</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="new-customer-btn btn btn-success" (click)="openCreateModal()">+&nbsp;&nbsp;Sales Reps</button>
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Sales Area</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of sales$">
                            <td>{{ sale.salesName }}</td>
                            <td>{{ sale.email }}</td>
                            <td>{{ sale.cnumber }}</td>
                            <td>{{ sale.salesArea }}</td>
                            <td style="width: 30%" class="mat-icon-cell">
                                <a (click)="editSalesRep(sale.id)"><mat-icon>edit</mat-icon></a> |
                                <a (click)="onDeleteClick(sale.id)"><mat-icon>delete</mat-icon></a> |
                                <a (click) = "viewSalesRep(sale.id)"><mat-icon>visibility</mat-icon></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
