<mat-sidenav-container class="sidenav-container" style="background-color: transparent; font-family: 'Gilroy';" [style.width]="sidenavWidth">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
        style="background-color: #6a68e2; font-family: 'Gilroy';" >
     
        <mat-nav-list style="margin-top: 100px; ">
            <a mat-list-item routerLink="/user" style="margin-top: 30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">User</span>
            </a>
            <a mat-list-item routerLink="/dashboard" style="margin-top: 30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">dashboard</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">Sales Reps</span>
            </a>
            <a mat-list-item routerLink="/customers" style="margin-top: 30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">people</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">Customers</span>
            </a>
            <a mat-list-item routerLink="/orders" style="margin-top: 30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">Orders</span>
            </a>
            <a mat-list-item routerLink="/payments" style="margin-top:30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">payments</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">Payments</span>
            </a>
            <a mat-list-item routerLink="/inventory" style="margin-top:30px;color: #fcfcfd;">
                <mat-icon style="color: #fcfcfd;">inventory</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-left: 10px; font-family: 'Gilroy';">Inventory</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content style=" color: transparent;">
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
           
            <!-- Add the logout button here -->
            <button type="button" style="margin-left: auto;" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>

        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>