<form [formGroup]="orderForm" (ngSubmit)="save()">
  <h1>Edit Order</h1>

  <div class="form-row">
      <div class="form-column">
          <mat-form-field>
              <mat-label>Product</mat-label>
              <mat-select formControlName="product" (selectionChange)="onProductChange($event.value)">
                  <mat-option *ngFor="let product of products" [value]="product.id">
                      {{ product.productname }}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="form-column">
          <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput formControlName="quantity" type="number">
          </mat-form-field>
      </div>
  </div>

  <div class="form-row">
      <div class="form-column">
          <mat-form-field>
              <mat-label>Note</mat-label>
              <input matInput formControlName="status" type="status" [value]="orderData.status">
          </mat-form-field>
      </div>
      <div class="form-column">
          <mat-form-field>
              <mat-label>Total Price</mat-label>
              <input matInput formControlName="price" type="price" [value]="orderData.price">
          </mat-form-field>
      </div>
  </div>

  <div class="button-container">
      <button mat-button color="primary" type="submit">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
